{{> head}}
{{> navbar}}
  
<div class="row">

    <div class="col-8">
        <h1>Hola Mundo</h1>
        <p>
            Imagen por defecto de un saludo estandarizado
        </p>
    </div>

    <div class="col-4">
        <img src="assets/img/portada.jpg" class="img-thumbnail">
    </div>

</div>
 




 {{> footer}}